/* Distribution Panel BEGIN */

.card-widgets__widget-new_widget .card-widgets__widget__body {
  padding: 0 10px 0px;
  padding-bottom: 5px;
  background-color: grey;
}

.ac-form {
  padding: 5px 15px 15px;
  margin-bottom: 10px;
  background: #fff;
}

.js-ac-caption {
  display: block;
  margin: auto;
  background-color: grey;
}

.lists_amo_ac ul li span {
  color: #81868f;
}

.ac-form-button {
  padding: 5px 0;
  background: #fafafb;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  cursor: pointer;
}

.ac-form-button:active {
  background: grey;
}

.ac-already-subs {
  position: absolute;
  width: 245px;
  bottom: 10px;
  right: 15px;
  cursor: pointer;
  color: #f37575;
  background: #fff;
}

#js-ac-sub-lists-container {
  min-height: 38px;
}

#js-ac-sub-subs-container {
  min-height: 100px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10pt;
}

.leadsDist_user_name {
  margin-left: 5px;
}

select#leadsDist_method {
  border: 0px;
}

.percent_user {
  display: grid;
  grid-template-columns: 60% 40%;
}

.leadsDist_left,
.leadsDist_right {
  margin-top: auto;
  margin-bottom: auto;
}

.per_zeichen__svg {
  width: 10px;
  height: 10px;
}

.percent_wert {
  text-align: center;
  width: 30px;
}

/* Distribution Panel END */

/* MOdal distribution BEGIN*/

.dist_progress_status {
  height: 32px;
  margin-bottom: 3px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.dist_progress_filter {
  width: 0;
  height: 100%;
  flex-shrink: 1;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.dist_progress_status-text {
  flex-shrink: 0;
  font-size: 25px;
  color: #1375ab;
}

.dist_progress_bar-wrapper {
  height: 5px;
  width: 100%;
  background: #f5f5f5;
}

.dist_progress_bar {
  position: relative;
  width: 0;
  height: 5px;
  background: #1375ab;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.dist_modal-body_actions {
  margin-top: 23px;
  font-size: 0;
  display: -webkit-box;
  display: flex;
}

/* MOdal distribution END */

/* advancedSettings */

li.advanced_settings > ul.advanced_settings {
  margin-left: 10px;
}

.advanced_settings_wrapper {
  position: relative;
}

.lead_wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.advanced_settings__button {
  position: absolute;
  top: 0;
  right: 0;
}

.od_control-checkbox input:checked~.leadsDist_headList__span:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 18px;
  background: #158fd2;
  right: 18px;
  top: 0px;
  z-index: 5;
}

.od_control-checkbox input:checked~.leadsDist_headList__span.leadsDist_user_checkbox:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background: #158fd2;
  right: 14px;
  top: 0px;
  z-index: 5;
}

/* advancedSettings */

/* Warnungsmodalfenster BEGIN */

.dist_warnung__wrapper {
  display: flex;
}

/*
.dist_warnung_logo__wrapper {
}
*/

.dist_warnung__container {
  margin-left: 30px;
}

.dist_warnung__logo {
  width: 50px;
  height: 50px;
}

.dist_warnung__title {
  font-weight: bold;
}

.dist_warnung__message {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Warnungsmodalfenster END */

/* SETTINGS */

.od_checkboxes-search__list-tips, .od_control-checkbox {
  position: relative;
  border: 0;
}

.od_control-checkbox {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 7px 0 0;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.od_control-checkbox__body, .od_control-checkbox__helper {
  display: -webkit-inline-box;
  display: inline-flex;
}

.od_control-checkbox__helper {
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 3;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.od_control-checkbox__helper.leadsDist_user_checkbox {
  width: 15px;
  height: 15px;
}

.od_control-checkbox input {
  position: absolute;
  opacity: 0;
  z-index: 4;
  width: 20px;
  height: 20px;
}

.od_control-checkbox input:checked~.od_control-checkbox__helper:not(.control-checkbox__helper_minus) {
  background: #fff url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJfeDIwMTRfX0l0ZW1fMV8iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCINCgkgeT0iMHB4IiB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxMXB4IiB2aWV3Qm94PSIwIDAgMTIgMTEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyIDExIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIGlkPSJjaGVjay5zdmciPg0KCTxnPg0KCQk8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzJFMzY0MCIgZD0iTTExLjQ3NiwwLjE1MWMtMC4zNzctMC4yOTYtMC45OTctMC4xMzktMS4zNTksMC4zMjRMNS4xNTMsNi41Mw0KCQkJQzUuMDc3LDYuNjI0LDQuODg0LDYuNjU3LDQuNzg1LDYuNTk1TDEuNzIzLDQuNjg4QzEuMjQsNC4zNDIsMC42MjQsNC4zNjYsMC4zNDksNC43NTNjLTAuMjY4LDAuMzc4LTAuMTgsMC45OTQsMC4yMDksMS40NjQNCgkJCWwzLjUwOSw0LjIzNEM0LjM2MSwxMC44MDUsNC43NDIsMTEsNS4xNCwxMWMwLjQ2NSwwLDAuODk1LTAuMjY2LDEuMTc3LTAuNzI4bDUuMjY0LTguNjE1QzExLjkxNiwxLjEwOSwxMS44NzEsMC40NjIsMTEuNDc2LDAuMTUxDQoJCQl6Ii8+DQoJPC9nPg0KPC9nPg0KPC9zdmc+DQo=) no-repeat;
  background-size: 70%;
  background-position: center;
}

/* SETTINGS */
