<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="leadsDist_wrapper">
            <div class="">
                <p>Благодарим за установку виджета <span style="font-weight: bold;">Распределение ЛИДов</span>.</p>
                <p>Данный виджет является полностью бесплатным с активной технической поддержкой.</p>
                <p>Заполните, пожалуйста, поля авторизации предварительно ознакомившись с политикой конфиденциальности с последующим её принятием.</p>
                <p>Нажмите на кнопку <span style="font-weight: bold;">Активировать</span> для выполнения авторизации.</p>
                <p>После, можете перейти в расширенные настройки виджета для настройки глубины распределения.</p>
                <p>На этом настройка виджета завершена. При возникновении вопросов и предложений, просим Вас обратиться в техническую поддержку. Контактные данные Вы сможете найти на сайте разработчика и на странице политики конфиденциальности.</p>
            </div>
            <div class="">
                <div class="od_list-row__cell od_js-hs-prevent list-row__cell-head od_cell-head od_list-row__cell-template-id list-row__cell-id" style="padding-top: 50px;">
                    <div class="od_cell-head__inner">
                        <label class="od_control-checkbox">
                            <div class="od_control-checkbox__body">
                                <input id = 'leadsDist_privacyPolicy' type="checkbox" class="od_headList od_checkbox" name="" value="" data-value="">
                                <span class="od_headList__span od_control-checkbox__helper"></span>
                                <a target="_blank" href="https://hub.integrat.pro/Murad/leadsDist/public/privacyPolicy" style="padding-left: 10px;">
                                    Политика конфиденциальности
                                </a>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>