<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="leadsDist_wrapper">
            <div class="leadsDist_content" style = "padding-bottom: 10px">
                <h3 class = "leadsDist_content_titel" style = "font-weight: bold; padding-bottom: 20px;">Распределение ЛИДов</h3>
                <div class="leadsDist_content_text">
                    <p>Данный виджет предоставляет возможность автоматического распределения ЛИДов между пользователями в системе amoCRM.</p>
                    <p>На данный момент доспуны два метода рапределения: равномерный и в соответствии с процентным соотношением.</p>
                    <p>Особенностью данного решения является учёт связанных сущностей ЛИДа при распределении. Также имеется возможность настройки индивидуальной глубины распределения.</p>
                    <p>Использование данного виджета позволит Вам сэкономить большое количество времени, а также абстрагироваться от технической рутины использования CRM-системы, концентрируясь непосредственно на работе</p>
                </div>
            </div>
            <div class="leadsDist_media">
                <a class="leadsDist_media_content_link" target="_blank" href="https://www.youtube.com/" style = "text-decoration: none; color: #ff7779;">
                    Видеодемонстрация функционала виджета
                </a>
            </div>
        </div>
    </body>
</html>